# --- SECURITY---
.env
.aws/
credentials.json
*.pem
*.key

# --- PYTHON & VIRTUAL ENV ---
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
cti_env/

# --- LOGS & DATABASES ---
*.log
*.sqlite3
*.db

# --- IDE & OS TRASH ---
.vscode/
.idea/
.DS_Store
Thumbs.db